main {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "section section section"
        "abajo abajo abajo"
        "footer footer footer";
}

@media (min-width: 500px) {
    main {
        display: grid;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "section section section"
        "abajo abajo abajo"
        "footer footer footer";
    }
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
    display: flex;
    flex-direction: column;
}

.abajo {
    grid-area: abajo;
}

footer {
    grid-area: footer;
}


h2 {
    text-align: center;
    color: whitesmoke;
}

form {
    text-align: center;
}



