
.imagenesredes {
    display: flex;
    flex-direction: row;
}

.mediosdepago {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: right;    
}

.tarjetas {
    width: 100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
}

figure img {
    margin: 2px;
}